@import 'common';
@import 'var';
@media (max-width:768px) {
  .blog_main {
    min-height:100px;
    .mainbar {
      padding-right:0;
      .article_introduction{
        min-height: 86px;
        .thumbnail{
          display: block;
          position: absolute;
          width:75px;
          height:66px;
          background-repeat: no-repeat;
          background-clip:content-box;
          background-origin: content-box;
          background-size:cover;
          margin: 10px 0 10px 10px;
          padding: 0;
        }
        .right {
          padding: 10px 10px 0 95px;
        }
      }
      .nofound {
        min-height: 100px;
      }
    }
  }
}
@media (min-width:768px){
  .blog_main {
    padding-top:40px;
    min-height:700px;
    .mainbar {
      padding-right:300px;
      .article_introduction {
        min-height:168px;
        .thumbnail{
          width:100px;
          height:88px;
          margin-left:40px;
          margin-top:40px;
        }
        .right {
          position:absolute;
          padding-left:160px;
          top:0;
          padding-top:40px;
          padding-right: 40px;
        }
      }
      .nofound {
        min-height: 690px;
      }
    }
  }
}
body {
  background-color:#edeff2;
  .banner {
    padding-top:50px;
    .carousel-control{
      top:50px;
    }
  }
  .container {
    padding-left:0;
    padding-right:0;
  }
  .blog_main {
    padding-left:0;
    position:relative;
    .mainbar {
      width:100%;
      position:relative;
      .nofound {
        background-color:#fff;
        color: @helpColor;
        text-align: center;
        padding-top:40px;
      }
      .article_introduction {
        position: relative;
        width:100%;
        background-color:#fff;
        border-bottom: dotted 1px #ddd;
        overflow: hidden;
        .thumbnail{
          position:absolute;
          left:0;
          top:0;
          display: block;
          background-repeat: no-repeat;
          background-clip:content-box;
          background-origin: content-box;
          background-size:cover;
          border: none;
        }
        .right {
          position:absolute;
          top:0;
          width:100%;
          overflow: hidden;
          .header{
            color: #111;
            display: block;
            width:100%;
            font-size: 1.2em;
            letter-spacing:0.1em;
            margin:0;
            padding-bottom:10px;
            &:hover{
              color: @mainColor;
            }
          }
        }
        .article_detail{
          color:#666;
          font-size: 12px;
          margin-bottom:10px;
          span:nth-of-type(2n) {
            display: inline-block;
            padding-right: 10px;
          }
          span:nth-of-type(2n-1){
            display: inline-block;
            padding-right: 3px;
          }
        }
        .introduction{
          color: @fontColor;
          line-height: 1.7em;
          letter-spacing:0.1em;
        }
      }
    }
  }  
}
  