@import 'var';
.nav_pagination {
  height:34px;
  background-color: #fff;
  margin:40px 0 0 0;
  padding:40px;
  .pagination {
    margin-top:-15px;
    height:34px;
    li {
      a {
        color:#444;
        border:solid 1px #ddd;
        &:hover {
          background-color:@mainColor;
          color:#fff;
        }
      }
      &.active {
        a {
          background-color: @mainColor;
          color:#fff;
        }
      }
    }
  }
}