@import 'common';
@import 'var';
body {
  background-color:#edeff2;
}
  .blog_topbar {
    .container {
      padding-left:40px;
      padding-right:40px;
    }
    .navbar {
      background-color: #fff;
      border:none;
    }
    .navbar-default {
      .navbar-brand {
        color: @mainColor;
        letter-spacing: 0.3em;
        padding:30px 40px;
        font-size:25px;
        font-weight: 600;
        text-shadow: 0 0 2px #fff,
        0 -2px 4px #ff3,
        1px -5px 6px #fd3,
        -1px -8px 8px #f80,
        2px -13px 12px @helpColor;
      }
      .navbar-nav{
        .active {
          a {
            background-color: transparent;
            color:@mainColor;
          }
        }
        &>li>a {
          font-size: 16px;
          color:#111;
          font-weight: 600;
          padding-top:30px;
          padding-bottom:30px;
          &:hover {
            background-color:#fff;
            color:@mainColor;
          }
      }
      }
      .navbar-toggle{
        margin-top:20px;
        margin-right:40px;
        border-color:@mainColor;
        .icon-bar {
          background-color:@mainColor;
        }
      } 
    }
  }
   