@import 'var';
.nav_pagination {
  position:relative;
  .pagination {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    li {
      a {
        background-color:@mainColor;
        color:#fff;
        &:hover {
          background-color: @helpColor;
        }
      }
      &.active {
        a {
          border:solid 1px #ddd;
          background-color:@helpColor;
        }
      }
    }
  }
}